.reveal {
    opacity: 0;
    transform: translateY(100px); /* Aumenta el valor para un desplazamiento mayor */
    transition: opacity 1.0s ease, transform 1.0s ease;
  }
  
  .reveal.active {
    opacity: 1;
    transform: translateY(0);
  }